.catalog {
   margin: 0px 0px 82px 0px;
}
.catalog__container {
   padding: 81px 15px 101px 15px;
}
.upper-catalog {
   display: flex;
   align-items: center;
   justify-content: space-between;
   margin: 0px 0px 90px 0px;
   gap: 15px;
}
.block-text-catalog {
   display: flex;
   flex-direction: column;
   gap: 16px;
}
.block-text-catalog__text {
   font-family: 'Rubik';
   font-style: normal;
   font-weight: 500;
   font-size: 44px;
   line-height: 52px;
   color: #222528;
   &:last-child{
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 160%;
      color: #5B636B;
   }
}
.upper-catalog__text {
   font-style: normal;
   font-weight: 500;
   font-size: 16px;
   line-height: 19px;
   text-transform: uppercase;
   color: #DB4E66;
}
.items-catalog {
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
   gap: 35px;
}
.item-catalog {
   background: #FFFFFF;
   box-shadow: 0px 4px 9px #D3D3D3;
   border-radius: 12px;
   padding: 26.5px 25px;
   display: grid;
   grid-template-rows: auto auto 1fr auto 55px;
   gap: 22px;
   &:last-child{
      display: none;
   }
}
.item-catalog__image {
   position: relative;
   padding: 0 0 100% 0;
   &::after{
      content: "Возраст: 6+";
      position: absolute;
      top: 0;
      right: 3px;
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 19px;
      text-transform: uppercase;
      color: #FAFAF9;
      padding: 5px 15px;
      background: #90C1BF;
      border-radius: 6px;  
   }
}
.item-catalog__img {
   position: absolute;
   width: 100%;
   height: 100%;
   top: 0;
   left: 0;
   object-fit: cover;
   border-radius: 6px;
}
.item-catalog__title {
   font-style: normal;
   font-weight: 500;
   font-size: 18px;
   line-height: 21px;
   color: #222528;
}
.item-catalog__list {
   display: flex;
   flex-direction: column;
}
.item-catalog__item {
   font-style: normal;
   font-weight: 400;
   font-size: 16px;
   line-height: 160%;
   color: #5B636B;
}
.item-catalog__price {
   text-align: center;
   font-style: normal;
   font-weight: 500;
   font-size: 24px;
   line-height: 28px;
   color: #DB4E66;
}
.item-catalog__button-block{
   max-width: 100%;
   display: flex;
   justify-content: center;
}
.item-catalog__button {
   font-style: normal;
   font-weight: 500;
   font-size: 16px;
   line-height: 19px;
   text-transform: uppercase;
   color: #FFFFFF;
   background: #F2B236;
   box-shadow: 0px 3px 7px #FFE9BF;
   border-radius: 14px;
   padding: 17.5px 50px;
   flex: 0 0 100%;
   justify-content: center;
   align-items: center;
   @include adaptiv_fonts(16,14)
}
.button {
}