.first-screen {
   position: relative;
   background: rgba(0, 0, 0, 0.54);
   margin: 0px 0px 48px 0px;
}
.first-screen__container {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-wrap: wrap;
   padding: 235px 15px 38px 15px;
}
.content-first-screen {
   display: flex;
   flex-direction: column;
   align-items: center;
   flex: 1 1 100%;
}
.content-first-screen__title {
   font-style: normal;
   font-weight: 500;
   font-size: 50px;
   line-height: 118%;
   text-align: center;
   color: #FAFAF9;
   text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.48);
   margin: 0px 0px 16px 0px;
   @include adaptiv_fonts(50,30)
   
}
.content-first-screen__text {
   font-style: normal;
   font-weight: 400;
   font-size: 16px;
   line-height: 160%;
   color: #FAFAF9;
   text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.44);
   margin: 0px 0px 43px 0px;
}
.content-first-screen__button {
   font-style: normal;
   font-weight: 500;
   font-size: 16px;
   line-height: 19px;
   text-transform: uppercase;
   color: #FFFFFF;
   background: #DB4E66;
   box-shadow: 2px 4px 9px rgba(243, 55, 87, 0.42);
   border-radius: 14px;
   padding: 17.5px 92px;
   margin: 0px 0px 68px 0px;
   @include adaptiv_fonts(16,14)
}
.button {
   display: flex;
   justify-self: start;
}
.first-screen__img {
   position: absolute;
   width: 100%;
   height: 100%;
   top: 0;
   left: 0;
   object-fit: cover;
   z-index: -1;
}
.first-screen__socials {
   flex: 1 1 auto;
   display: flex;
   justify-content: flex-end;
   gap: 24px;
}
.socials {
}
.socials__icon {
   background: #90C1BF;
   border-radius: 12px;
   width: 49px;
   height: 49px;
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 37px;
   color: #FFFFFF;
   &:last-child{
      font-size: 32px
   }
}