/*Ширина контейнера*/
$maxWidth: 1440;
/*Адаптивный шрифт*/
@mixin adaptiv_fonts($pcSize, $mobSize) {
 $addSize: $pcSize - $mobSize;
 $maxWidth: $maxWidth - 320;
 font-size: calc(#{$mobSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth}));
}
.header {
}
.upper-header {
   background: linear-gradient(92.55deg, #F2B236 32.31%, #FF9C1A 64.34%);
   box-shadow: 0px 0px 7px #FFDBA6;
}
.upper-header__container {
   min-height: 144px;
   display: flex;
   align-items: center;
   padding: 0 15px;
   column-gap: 25px;
}
.logo {
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   row-gap: 4px;
}
.logo__img {
}
.logo__text {
   font-style: normal;
   font-weight: 500;
   font-size: 18px;
   line-height: 21px;
   color: #FAFAF9;
}
.active-header {
   display: flex;
   align-items: center;
   justify-content: flex-end;
   flex: 1 1 auto;
   column-gap: 25px;
}
.active-header__tel {
   font-style: normal;
   font-weight: 500;
   font-size: 18px;
   line-height: 21px;
   color: #884900;
}
.active-header__form{
   flex: 0 1 327px;
}
.form {
   display: flex;
   align-items: center;
   background: #FFFFFF;
   border-radius: 26px;
   padding: 0 16px 0 21px;
}
.form__input {
   flex: 1 1 auto;
   padding: 13px 21px 13px 0;
   font-style: normal;
   font-weight: 400;
   font-size: 16px;
   color: #838383;
   border-radius: 26px;
   &::placeholder{
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 19px;
      color: #A5AAAF;
   }
}
.active-header__search {
   font-size: 23px;
   color: #A5AAAF;
}
._search {
}
.active-header__icons {
   display: flex;
   align-items: center;
   column-gap: 25px;
}
.active-header__icon {
   font-size: 37px;
   background: #FFFFFF;
   border-radius: 12px;
   display: flex;
   justify-content: center;
   align-items: center;
   width: 45px;
   height: 45px;
   position: relative;
   color: #F2B236;
   &::after{
      content: "3";
      width: 14px;
      height: 14px;
      position: absolute;
      top: 4px;
      right: 4px;
      background: #DB4E66;
      font-style: normal;
      font-weight: 500;
      font-size: 10px;
      line-height: 12px;
      color: #FFFFFF;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
   }
}
._bascket {
}
._people {
}
.burger {
   display: none;
}

/*=================================================*/

.under-header {
   background: #FAFAF9;
   box-shadow: 0px 5px 13px #EBE7E0;
}
.under-header__container {
   min-height: 69px;
   display: flex;
   align-items: center;
   justify-content: flex-end;
}
.menu {
}
.menu__list {
   display: flex;
   align-items: center;
}
.menu__item {
   &:hover{
      .menu-appear{
         display: flex;
      }
   }
}
.menu__link {
   font-style: normal;
   font-weight: 400;
   font-size: 16px;
   line-height: 160%;
   color: #222528;
   padding: 21.5px 24.5px;
}
.menu__link_appear{
   position: relative;
   display: flex;
   &:hover{
      background: #F2B236;
      color: #FAFAF9;
   }
}
.menu-appear {
   display: none;
   position: absolute;
   flex-direction: column;
   background: #FAFAF9;
}
.menu-appear__item {
}
.menu-appear__link {
   text-align: left;
   padding: 0 21px;
   font-style: normal;
   font-weight: 400;
   font-size: 18px;
   line-height: 52px;
   color: #222528;
   display: flex;
   &:hover{
      background: #F2B236;
      color: #FAFAF9;
   }
}
.active-header__tel_under{
   font-style: normal;
   font-weight: 500;
   font-size: 18px;
   line-height: 21px;
   color: #884900;
   display: none;
   @include adaptiv_fonts (18 , 14);
}