.questions {
   background: rgba(245, 245, 245, 0.63);
   border: 1px solid rgba(0, 0, 0, 0.18);
   margin: 0px 0px 120px 0px;
}
.questions__container {
   padding: 87px 15px 88px 15px;
}
.questions__title {
   font-style: normal;
   font-weight: 500;
   font-size: 44px;
   line-height: 118%;
   color: #222528;
   margin: 0px 0px 92px 0px;
   @include adaptiv_fonts(44,35)
}
.questions__list {
   display: flex;
   flex-direction: column;
   margin: 0px 0px 56px 0px;
   gap: 48px;
}
.questions__item {
}
.questions__link {
   font-style: normal;
   font-weight: 500;
   font-size: 30px;
   line-height: 120%;
   color: #222528;
   @include adaptiv_fonts(30,22)
}
.questions__button {
   font-style: normal;
   font-weight: 500;
   font-size: 16px;
   line-height: 19px;
   text-transform: uppercase;
   color: #FFFFFF;
   background: #DB4E66;
   box-shadow: 2px 4px 9px #FBCCD4;
   border-radius: 14px;
   padding: 17.5px 68.5px;
   display: inline-flex;
   @include adaptiv_fonts(16,14)
}
.button {
}