.video {
   position: relative;
   margin: 0px 0px 120px 0px;
}
.video__img {
   position: absolute;
   width: 100%;
   height: 100%;
   top: 0;
   left: 0;
   object-fit: cover;
   z-index: -1;
}
.video__container {
   display: flex;
   align-items: center;
   justify-content: center;
   padding: 15% 15px;
}
.video__box {
   flex: 0 1 765px;
   max-height: 420px;
}
.video__file {
   width: 100%;
   height: 100%;
   
}